<%- include ('components/header') %>
<link rel="stylesheet" href="/styles/main.css">
<div class="flexbox">
    <!-- User info -->
    <div class=" m-2 text-white main_info">
        <div class="user_info m-2" >
            <img style="width: 100%;max-width:450px;height: auto;" class="m-2" src=<%= data.image %> alt="Main picture user" class="user_image rounded-circle" id="user_image">
            <p class="user_name w-100 text-center m-2" id="user_name"><%= data.name %></p>
            <p class=" bio text-center w-100 m-2" > "<%= data.bio %>"</p>
            <ul class="user_info_bar d-flex flex-row m-2 text-center justify-content-between w-100">
                <li ><a href="/messages"><i class="fas fa-envelope fa-2x" ></i></a></li>
                <li ><a href="/users"><i class="fas fa-users fa-2x"></i></a></li>
                <li ><a href="#"><i class="fas fa-bell fa-2x"></i></a></li>
                </ul>
                <hr>
            <ul class="user_friends p-0 m-2 text-center w-100">
                <li class="m-2">Followers</li>
                <li class="m-2"><a href="/followers" id="followers">0</a></li>
                <hr>
                <li class="m-2">Following</li>
                <li class="m-2"><a href="/followings" id="following">0</a></li>
                <hr>        
            </ul>
            <br>
            <div class="user_viwe_profile w-100 text-center m-2">
                <a href="/users/<%= data._id %>" >View profile</a>
            </div>
        </div>
            <br>
            <!-- Suggestions -->
    <div class="suggestions">
        <p class="text-primary " id="online">Online: 0</p>
    </div>
      
    
    </div>
    <!-- News feed -->
    <div class="newsfeed">
        <div id="posts_list">
            <form action="/" method="post" id="main_post" >
                <div class="form-group position-relative">
                    <textarea class="form-control" placeholder="Want to share your day with your friends?" rows="2" id="textarea_post"></textarea>
                    <button style="border: none;" type="submit">
                        <i class="fas fa-share fa-2x news_post_send"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="d-flex flex-column " id="post_handler">
               
        </div>
    </div>
    <!-- Online friends -->

</div>
<br>
<br>
<br>
<!-- <input type="text" id="message">
<button id="send">Send</button> -->
<p hidden id="current_user_id"><%= data._id %></p>
<script src="/scripts/config.js"></script>
<script src="/scripts/followerCheck.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/main_post.js"></script>
