<%- include ('components/header') %>
<link rel="stylesheet" href="/styles/main.css">
<div class="flexbox">
    <!-- User info -->
    <div class=" m-2 text-white main_info">
        <div class="user_info p-4" style="display: flex;flex-direction: column;width: 100%; ">
<p hidden><%= data %></p>
            <img style="width: 100%;max-width: 150px;height: auto;"  src=<%= data.image %> alt="Main picture user" class="user_image rounded-circle">
            <br><br>
            <p class="user_name text-light "><%= data.name %></p>
            <p class=" text-light " style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 20vw;"> "<%= data.bio %>"</p>
            <ul class="user_info_bar">
                <li ><a href="/messages"><i class="fas fa-envelope fa-2x" ></i></a></li>
                <li ><a href="/users"><i class="fas fa-users fa-2x"></i></a></li>
                <li ><a href="#"><i class="fas fa-bell fa-2x"></i></a></li>
                </ul>
                <hr>
            <ul class="user_friends p-0 m-0">
                <li style="color: rgb(255, 0, 0);">Followers</li>
                <li><%= data.followers.length %></li>
                <hr>
                <li style="color: rgb(0, 167, 0);">Following</li>
                <li><%= data.following.length %></li>
                <hr>        
            </ul>
            <br>
            <div class="user_settings">
                <a href="/users/<%= data._id %>" >View profile</a>
            </div>
        </div>
            <br>
            <!-- Suggestions -->
    <div class="suggestions">Buttons messages friends events </div>
        <p class="text-dark">Not working Now</p>
    </div>
    <!-- News feed -->
    <div class="newsfeed">
        <div id="posts_list">
            <form action="/" method="post" id="main_post" >
                <div class="form-group position-relative">
                    <textarea class="form-control" placeholder="Want to share your day with your friends?" rows="2" id="textarea_post"></textarea>
                    <button style="border: none;" type="submit">
                        <i class="fas fa-share fa-2x news_post_send"></i>
                    </button>
                </div>
            </form>
        </div>
        <div style="background-color: cornflowerblue;height: 400px;">
                        Post
        </div>
        <div style="background-color: rgb(0, 7, 19);height: 400px;">
            Post
        </div>
    </div>
    <!-- Online friends -->

</div>
<!-- <input type="text" id="message">
<button id="send">Send</button> -->
<p hidden id="user_info"><%= data %></p>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/main_chat.js"></script>
<script src="/scripts/main_post.js"></script>
