<%- include ('components/header') %>

<div class="d-flex ">
    <div class="w-25 ">
        <ul id="users" class="list-group btn" style="height: 500px;overflow-y: auto;">
            <% rec.forEach(user => { %>
                <li id=<%= user._id %>  class="list-group-item" >
                    <img src=<%= user.image %> alt="User" width="50px" height="50px">
                    <%= user.name %>
                </li>
                <% }) %>
        </ul>
    </div>
    <div class="position-relative w-100">
        <div id="chat_main_place"  style="height: 500px;overflow-y: auto;">
        <ul id="message_list" class="list-group w-100">
        </ul>
        </div>
        <form action="/messages" method="post" id="send"> 
        <div class="input-group mb-3 fixed-bottom position-absolute" style="bottom: -100px;">
            <input type="text" class="form-control w-100 position-relative" id="text" placeholder="           Text here" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append position-absolute"  style="bottom: 0px;left: 0px;">
              <button class="btn btn-success"  type="submit" >Send</button>
            </div>
        </form>
    </div>
          
    </div>
</div>
<p hidden id="myInfo"><%= data._id %></p>
<p hidden id="myImage"><%= data.image %></p>
<script src="/socket.io/socket.io.js"></script>
<script src="/scripts/messages.js"></script>