<%- include ('components/header') %>

<div class="d-flex justify-content-center ">
<div class="d-flex justify-content-center flex-column">
<div class="card text-center " style="width: 18rem;">
    <img class="card-img-top" style="width: 100%;max-width: 286px;height: auto;" src=<%= data.image %>  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" id=<%= data._id %>><%= data.name %></h5>
      <p>Date of birth - <%= data.dateOfBirth %></p>
      <p>Gender - <%= data.gender %></p>
      <p class="card-text"><%= data.bio %></p>
      <a href="#" id='follow' class="btn btn-success">Follow</a>
    </div>
  </div>
  
  <a href="/" class="btn btn-outline-secondary">To main page</a>
<br>
<br>
</div>
<p hidden id="info"><%= id %></p>
</div>
<script src="/scripts/config.js"></script>
<script src="/scripts/user.js"></script>
