<%- include ('components/header') %>

<link rel="stylesheet" href="/styles/users.css">
<h1 class="text-center">Users</h1>
<div class="users_list"> 
    <% data.forEach(elem => { %>
            <div class="card m-2" style="width: 18rem;">
                <img class="card-img-top" alt="User image" width="286px" height="286px" src=<%= elem.image %> >
                <div class="card-body">
                  <h3 class="card-title"><%= elem.name %></h5>
                  
                  <p class="card-text"><b>Bio...</b> <br> <%= elem.bio %></p>
                  <p>Followers [<%= elem.followers.length %>]</p>
                  <p>Following [<%= elem.following.length %>]</p>
                  <p>Gender - [<%= elem.gender %>] <br> Date of birth - <%= elem.dateOfBirth %></p>
                  
                  <a href="/users/<%= elem.id %>" class="btn btn-primary">Go to profile</a>
                </div>
              </div>
        <% }) %>
</div>


